---
import Page from "../layouts/Page.astro";
import Orbit from "../components/Orbit.astro";
---

<Page>
  <header class="pt-10">
    <nav class="flex justify-between">
      <p>iSaul19</p>
      <ul class="flex gap-8">
        <li>
          <a href="https://github.com/isaul19" target="_blank">
            <img
              class="transition-transform hover:rotate-45"
              src="/icons/social/icon-github.svg"
              alt="github"
            />
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/sa%C3%BAl-porras-497654244" target="_blank">
            <img
              class="transition-transform hover:rotate-45"
              src="/icons/social/icon-linkedin.svg"
              alt="linkedin"
            />
          </a>
        </li>
      </ul>
    </nav>
  </header>

  <section class="grid grid-cols-1 lg:grid-cols-2">
    <div class="mx-auto lg:mx-0">
      <h1 class="heading-xl md:max-w-[706px] mt-[40px] md:mt-[127px]">
        Nice to meet you! I’m <span class="border-b-4 border-c-esmerald">Saúl Porras</span>.
      </h1>

      <p class="mt-14 max-w-[445px]">
        Based in the Perú, I’m a Front-End developer passionate about building accessible web apps
        that users love.
      </p>

      <a
        class="mt-12 inline-block border-b border-c-esmerald hover:text-c-esmerald transition-colors"
        href="https://www.linkedin.com/in/sa%C3%BAl-porras-497654244"
      >
        CONTACT ME</a
      >
    </div>

    <div
      class="scale-[0.7] xsm:scale-75 md:scale-100 mt-[28px] lg:mt-[400px] flex items-center justify-center"
    >
      <Orbit />
    </div>
  </section>
</Page>
